*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    background-image:url("../img/693b1624c9c2a3d49c9b52ade79f0b68.gif");
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #5c5c5c;
}

#my-name{
    font-family: 'Metal Mania', cursive;
    font-size: 3em;
    color: white;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section>div>h2{
    display: flex;
    justify-content: center;
    padding: .25em;
}

section>div>ul{
    list-style-type: circle;
    margin-left: calc(1em + 5px);
}
body{
    margin: 0;
    padding: 0;
    background-color: azure;
}
#button{
    position: relative;
    text-align: center;
    width: 250px;
    padding: 40px 45px 40px 40px;
    font-size: 30px;
    color: #720572;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    border: 5px solid #720572;
    text-transform: uppercase;
    letter-spacing: 8px;
    cursor: pointer;
    border-radius:100px;
    transition:1.5s;
    display: flex;
    flex-basis: 100%;

}

#button:hover{
    box-shadow: 0 5px 50px 0 #720572 inset, 0 5px 50px 0 #720572,
                0 5px 50px 0 #720572 inset, 0 5px 50px 0 #720572;
    text-shadow: 0 0 5px #720572,0 0 5px #720572;
}

.style-select{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#button1{
    background-color: #0003c2;
    color: white;
    height: 2em;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

@media screen and (max-width:768px) and (max-width:385px){
    section>div>h2{
        display: flex;
        justify-content: center;
        padding: .25em;
        font-size: 2em;
    }
    section>div>ul{
        list-style-type: circle;
        margin-left: calc(1em + 5px);
        margin-bottom: 5em;
    }

    .container{
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
